@import url("animations.scss");

:root {
  --highlight-color: #ffbd25;
  --highlight-color-hover: #f1c255;
  --primary: #010E7E;
  --neutral-light: #f1f1f1;
  --light: #fff;
  --dark: #000;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--neutral-light);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color-hover);
}


body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding-top: 120px;
  background: var(--neutral-light);
}

.btn {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

.btn:enabled {
  cursor: pointer;
}

.btn-secondary {
  background: var(--highlight-color);
  color: var(--light);
  display: block;
  text-align: center;
  border-radius: 8px;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.6s;
  outline: solid 3px transparent;
  outline-offset: 8px;     
  &:disabled {
    background: #cacaca;
    cursor:not-allowed;
  }
  &:enabled {
    &:hover {
      background: var(--dark);
      color: var(--highlight-color);
      outline: solid 0 var(--dark);
      outline-offset: 0;  
    }
  }
}



.main-content {
  padding-bottom: 30px;
}

.page-title {
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 24px; 
}

.inner-content {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 24px;
}

.sidebar {
  width: 100%;
  max-width: 340px;
  position: fixed;
  right: 0;
  top: 80px;
  height: calc(100% - 80px);
  background: var(--light);
  display: flex;
  flex-direction: column;
  transition: 0.4s;  
  transform: translateX(100%);
  &.opened {
    /* box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5); */
    transform: translateX(0);
    box-shadow: -10px 0 10px rgba(0,0,0,0.3);
  }  
}

.sidebar__header  {
 padding: 8px 16px;
}

.sidebar__content  {
 padding: 8px 16px;
 overflow-y: auto;
}

.sidebar__content.is-checkout-page {
  padding: 0;
  isolation: isolate;
}

.sidebar__content.is-checkout-page + .btn {
  width: 100%;
  margin-top: 24px;
}

.sidebar__content.is-checkout-page .sidebar__table {
  margin-top: 48px;
}

.sidebar__content.is-checkout-page .sidebar__table .tooltip {
  margin-left: -15px;
}

.sidebar__content li {
  display: flex;
  background: grey;
  justify-content: space-between;
  gap: 16px;
}

.sidebar__content li + * {
  margin-top: 12px;
}

.sidebar__movie-info {
  display: flex;
  gap: 12px;
}

.sidebar__image {
  max-width: 36px;
}

.sidebar__footer  {
  padding: 8px 16px;
  margin-top: auto;
  background: var(--primary);
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 16px;  
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-group.w-100 {
  flex-basis: 100%;
}

.form-group input,
.form-group select {
  background: var(--light);
  padding: 12px 16px;
  border-radius: 4px;
  border: solid 1px #cacaca;
  font-size: 16px;
} 

.form-group label {
  font-size: 16px;
}


/* Helpers */
.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}


.basis-100 {
  flex-basis: 100%;
}

.error-msg {
  color: #ff0000;
  font-size: 14px;
}


@media (min-width: 768px) {

  .sidebar__content.is-checkout-page {
    max-height: calc(100vh - 300px);  
  }

  .sidebar__content.is-checkout-page .sidebar__table {
    margin-top: 0;
    padding-bottom: 12px;
  }  

  .sidebar__content.is-checkout-page .sidebar__table th {
    position: sticky;
    top: 0;
    z-index: 3;
  }
}